<html>
  <head>
    <style>
    h1{
      text-align: center;
      color: White;
    }
    h2{
      text-align: center;
      color: MidnightBlue;
    }
    h3{
      text-align: center;
      color: MidnightBlue;
    }
    ul{
      text-align: center;
      color: Yellow;
    }
    </style>
  </head>
  <body>
    
  </body>
</html>
