body {background-color: #808080;}
h1{
  text-align: center;
  color: #FFFFFF;
}
h2{
  text-align: center;
  color: #FFFFFF;
}
h3{
  text-align: center;
  color: #FFFFFF;
}
ul{
  color: #FF00FF;
}
video{
  text-align: center;
}
img{
  text-align: center;
}
